out/
demo/
test/
build/
Testing/
cmake-build-*/
node_modules/
npm/node_modules/

*.exe
*.dll
*.pdb
*.obj
*.o
*.a
*.lib
*.so
*.dylib

dist/
.idea/
*.log
*.swp
*.swo
*~

*.gcda
*.gcno
*.gcov
*.profraw
*.profdata

__pycache__/
*.pyc

.DS_Store
Thumbs.db
